<div class="mt-30">
    <app-details-form></app-details-form>
  </div>
<div>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Date of Birth</th>
        <th>Address</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of list">
        <td>{{d.name}}</td>
        <td>{{d.age}}</td>
        <td>{{d.dateOfBirth}}</td>
        <td>{{d.address}}</td>
        <td>

          <i class="fas fa-edit fa-lg text-warning" style="margin-right: 15px; cursor:pointer;" (click)="populateForm(d)"></i>
          <i class=" far fa-trash-alt fa-lg text-danger" style="cursor:pointer" (click)="onDelete(d.detailsid)"></i>

        </td>
      </tr>
    </tbody>
  </table>
  <div class="form-group">
    <button class="btn-primary btn-info btn-lg btn-block col-md-4 float-right" type="submit" style="margin-bottom:30px;" (click)="logOut()">logout</button>
  </div>
</div>

